html,
body {
    height: 175px;
    width: 252px;
    background-color: #f6f6f2;
    font-family: "Oswald";
}

body {
    border: 1.5px solid #388087;
}

h1 {
    margin: 10px;
    font-size: 24px;
}

#description {
    color: #388087;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
}

form {
    width: 100%;
}

.input-group {
    width: 70%;
    margin: 0 auto;
    padding: 0px;
}

div#timeValue {
    width: 100%;
    padding-left: 5px;
}

input#timeValueInput {
    width: 40%;
    box-sizing: border-box;
    font-size: 16px;
    background: transparent;
    border: 1px solid #235952;
}

#timeValueInvalidFeedback {
    position: absolute;
    width: 100%;
}

div#timeUnit {
    position: absolute;
    top: 0;
    right: 5px;
}

#sel1 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    font-size: 16px;
}

#submitAndStatus {
    margin: 0 auto;
    padding-top: 30px;
    /*    position: absolute;*/
    /*    bottom: 0;*/
    font-size: 18px;
}

#tabAwayBtn {
    margin: 0 auto;
    display: block;
}

/* styling for submit button */
.btn-dark,
.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited {
    background-color: #388087 !important;
    border: 1px solid #388087;
    color: #ffffff;
}

/* styling for time unit select */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: #f6f6f2 !important;
    border: 1px solid #388087;
    color: #6fb3b8;
}

span#status {
    text-align: center;
    display: block;
    margin: 5px auto 0px auto;
    font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
