html,
body {
    height: 170px;
    width: 250px;
    background: #d3d3d3;
    font-family: "Oswald";
}

h1 {
    margin: 10px;
    font-size: 24px;
}

#description {
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
}

form {
    width: 100%;
}

.input-group {
    width: 70%;
    margin: 0 auto;
    padding: 0px;
}

div#timeValue {
    width: 100%;
    padding-left: 5px;
}

input#timeValueInput {
    width: 40%;
    box-sizing: border-box;
    font-size: 16px;
}

#timeValueInvalidFeedback {
    position: absolute;
    width: 100%;
}

div#timeUnit {
    position: absolute;
    top: 0;
    right: 5px;
}

#sel1 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    font-size: 16px;
}

#submitAndStatus {
    margin: 0 auto;
    padding-top: 30px;
    /*    position: absolute;*/
    /*    bottom: 0;*/
    font-size: 18px;
}

#tabAwayBtn {
    margin: 0 auto;
    display: block;
}

span#status {
    text-align: center;
    display: block;
    margin: 0 auto 10px auto;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
